body {
  margin:0;
  padding:0;
}

#image_container {
  width: 100%;
  height: 900px;
  /* border: 1px solid #ffff;
    border-radius: 10px; */
}

#image {
  width: 100%;
  height: 100%;
}

#main_container {
  width: 100%;
  height: 100vh;
  background-color: rgb(56, 56, 56);
}

.btn-main {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
  background-color: #38ef7e06;
  border-color: transparent;
  transition: 0.25s;
}
.btn-main:hover {
  color: rgb(234, 234, 234);
  background-color: #11998e05;
  border-image: linear-gradient(to right, #38ef7d, #11998e);
  border-image-slice: 1;
  /* border-color: transparent; */
  transition: 0.25s ease-in-out;
}
.btn:active,
.btn:focus {
  color: rgb(234, 234, 234);
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(234, 234, 234);
  background-color: #11998e05;
  background-clip: padding-box;
  border-image: linear-gradient(to right, #38ef7d, #11998e);
  border-image-slice: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: rgb(234, 234, 234);
  background-color: #b0b0b00b;
  border-image: linear-gradient(to right, #2dff7d, #15b7a9);
  border-image-slice: 1;
  outline: 0;
  box-shadow: 0 0 0 0;
}
.form-select {
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-color: #b0b0b00b;
  border-image: linear-gradient(to right, #2dff7d, #15b7a9);
  border-image-slice: 1;
  border-radius: 0;
  background-image:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>");
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-select option {
  color: white;
  border-color: #11998e;
  border-image: linear-gradient(to right, #2dff7d, #15b7a9);
  border-image-slice: 1;
  background-color: #3d3d3d;
}


.btn:active {
  transform: translateY(3px);
}